.App {
  font-family: "Quicksand", sans-serif;
  max-width: 600px;
  margin: 0px auto;
  border-radius: 10px;
  background-color: #a2a8a8;
  border: 3px solid #fbdd57;
  padding: 15px;
}

.App h1 {
  color: #fbdd57;
  display: block;
  font-size: 50px;
  text-transform: capitalize;
  margin-left: 15px;
  margin-top: 15px;
}

p {
  color: white;
  display: block;
  margin-left: 15px;
}

.link {
  color: #fbdd57;
}
