.Forecast {
  text-align: center;
  margin: 20px 0;
  color: white;
}

.Forecast canvas {
  display: block;
}
.unitC {
  position: relative;
  color: #fbdd57;
  top: -30px;
}
.unitF {
  position: relative;
  color: #fbdd57;
  top: -0px;
}
