.temperature {
  color: white;
  font-size: 60px;
  font-weight: 300px;
  line-height: 1;
}

.Weather li {
  color: white;
  font-size: 25px;
  font-weight: 10px;
  line-height: 1.2;
  list-style: none;
}
.Weather .current-data {
  color: white;
  font-size: 23px;
  font-weight: 10px;
  line-height: 1;
  list-style: none;
  margin-top: 10px;
}
